
            <p>Keeping track of your tickets, the timing of your flight and your booking status is cumbersome, especially if you are in a hurry. To simplify this process, Cleartrip allows you to check your PNR status in a fast and easy manner.</p><p>The Passenger Name Record (PNR) will provide you with information about the real-time status of your booking. You will be able to know if your <%= airline_name %> tickets have been confirmed, or if you are on the waiting list. You will also have access to updates about the exact arrival and departure of <%= airline_name %> flights.</p><p>The PNR number may be found in your ticket itself. If more than one ticket is booked at the same time, they will all have the same PNR number. This number corresponds to bookings, not individual passengers.</p><p>You may check your PNR status on the go through the Cleartrip app or website. One of the biggest benefits of this feature is that it negates the need to carry your ticket. If your PNR status is confirmed, you may show it to the airport and <%= airline_name %> authorities and board your plane instantly.</p><p>To check your PNR status, search for PNR on the website and click on the button that says, “Click Here”. You will be redirected to <%= airline_name %> website, where you may access your PNR within seconds.</p><p>The ability to check your PNR status is just one of the several features that Cleartrip offers. You may also avail of the Web check-in option to save time at the airport. To book flights within 60 seconds, use the one-touch booking feature. Make the process of booking and boarding your flight hassle-free, and choose Cleartrip.</p>







