
    <p>إن تتبع تذاكرك وتوقيت رحلتك وحالة حجزك أمر مرهق وخاصةً إذا كنت في عجلة من أمرك. لذلك من لأجل تبسيط هذه العملية فإن كليرتريب يسمح لك بالتحقق من حالة سجل معلومات المسافر بطريقة سريعة وسهلة.</p>
    <p>سيوفر لك سجل معلومات المسافر معلومات حول الحالة في الوقت الحقيقي لحجزك. وستكون قادراً على معرفة ما إذا تم تأكيد تذاكر <%= airline_name %>، أو إذا كنت على قائمة الانتظار. وستتمكن أيضاً من الحصول على التحديثات حول المواعيد الدقيقة للوصول والمغادرة لرحلات <%= airline_name %>.</p>
    <p>يمكن العثور على رقم سجل معلومات المسافر في تذكرتك نفسها. وسيكون لها نفس رقم سجل معلومات المسافر إذا تم حجز أكثر من تذكرة واحدة في نفس الوقت. ويتوافق هذا العدد مع الحجوزات وليس المسافرين الأفراد.</p>
    <p>يمكنك التحقق من حالة سجل معلومات المسافر أثناء التنقل من خلال تطبيق كليرتريب أو الموقع الالكتروني. وإن أحد أكبر فوائد هذه الميزة هو أنها تلغي الحاجة لحمل تذاكرك. وإذا تم تأكيد حالة سجل معلومات المسافر فبإمكانك إظهاره للمطار وسلطات <%= airline_name %> و على متن الطائرة على الفور.</p>
    <p>ابحث عن سجل معلومات المسافر على الموقع الالكتروني وانقر على الزر الذي يظهر 'انقر هنا' للتحقق من حالة سجل معلومات المسافر. سيتم توجيهك إلى الموقع الالكتروني لخطوط الطيران <%= airline_name %> حيث يمكنك الوصول إلى حالة سجل معلومات المسافر في غضون ثوان.</p>
    <p> إن القدرة على التحقق من حالة سجل معلومات المسافر هي مجرد ميزة من العديد من الميزات التي يقدمها كليرتريب. يمكنك أيضاً الاستفادة من خيار تسجيل الوصول عبر الانترنت لتوفير الوقت في المطار. كما بإمكانك استخدام ميزة الحجز بلمسة واحدة لحجز الرحلات خلال 60 ثانية. اجعل من عملية حجز وإقلاع رحلاتك خالية من المتاعب واختر كليرتريب.<p>
