<% if @meta_page_type == "web_checkin" || @meta_page_type == "booking_index" %>
  <div class="blocks">
    <h2>فحص المحلي</h2>
    <ul class="list-unstyled top-airlines">
      <% top_airlines.each do |cc| %>
        <li>
          <div class="col-xs-4 pad-rzero">
            <%= link_to( t('webcheckin.check_in'), "/#{I18n.locale.to_s}/flight-booking/" + format_airline_name(I18n.with_locale(:en) {t("airlines.#{cc}") }).downcase.gsub(" ", "-").gsub("--","-") + "-web-check-in.html",:class=>"booking") %>
          </div>
          <div class="col-xs-8 pad-5">
            <% airline_name = link_to( t("airlines.#{cc}"), "/#{I18n.locale.to_s}/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{cc}") }).downcase.gsub(" ", "-").gsub("--","-") + "-web-check-in.html") %>
            <%= airline_name %>
          </div>
          <div class="clearfix"></div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="blocks">
  <h2>الوضع المحلي</h2>
  <ul class="list-unstyled top-airlines">
    <% top_airlines.each do |cc| %>
      <li>
        <div class="col-xs-4 pad-rzero">
          <%= link_to( t('brand.book'), "/ar/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{cc}") }).downcase.gsub(" ", "-").gsub("--","-") + "-flight-pnr-status.html",:class=>"booking") %>
        </div>
        <div class="col-xs-8 pad-5">
          <% airline_name = link_to( t("airlines.#{cc}"), "/#{I18n.locale.to_s}/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{cc}") }).downcase.gsub(" ", "-").gsub("--","-") + "-flight-pnr-status.html") %>
          <%= airline_name %>
        </div>
        <div class="clearfix"></div>
      </li>
    <% end %>
  </ul>
</div>
