
<p>Now check-in directly for <%= airline_name %> flight from the comfort of your home/office. Web checkin speeds up your check-in process by offering you the option to check in &amp; print your boarding pass directly from your computer.In addition to this, the e-Boarding pass will also be sent to your email address by the respective airline.</p>
                <p>Web Check in also allows you to check in your luggage in advance, select your seat, meal options(if available) and many more, before you depart for the flight. To avail <%= airline_name %> web check-in facility.</p>












