<h2><%= airline_name %> الشبكة فورية لل</h2>
<p>افحص الأمتعة مباشرة الآن على رحلة <%= airline_name %> براحة من منزلك / مكتبك. إما زيارة موقعه على الانترنت وحدد 'ويب تحقق في' الخيار. أو</p>
    <p>افحص الأمتعة مباشرة الآن على رحلة <%= airline_name %> براحة من منزلك / مكتبك. يسرع عملية فحص الأمتعة على الويب بتقدم خيار فحص الأمتعة و طباعة تذكرة الصعود على الطائرة من حاسوبك. بالإضافة إلى هذا، سترسل تذكرة الصعود الإلكترونية إلى عنوان بريدك الإلكتروني من قبل خطوط الطيران.</p>
    <p>يسمح لك فحص الأمتعة على الويب التحقق من أمتعتك مسبقاً، اختار مقعدك و خيارات وجبتك (اذا كانت متوفرة) و أكثر، قبل أن تقلع رحلتك. استفد الآن من تسهيلات <%= airline_name %>.</p>
