<h2>Cleartrip The Best Online Travel Booking Agency</h2>

        <p>Indian aviation industry has gone through a sea change over the years with the entry of several private airlines in the 1990s.  In the last few years, India has also seen a stupendous growth in domestic air passenger traffic, which is constantly on the rise. Considering the fast paced-lifestyle most of us lead today, Cleartrip facilitates people to do easy domestic flight bookings using its travel app and online flight booking system.</p>

        <p>Our competitive edge lies in the fact that we make use of the latest technology to automate the entire process of searching and comparing flights before booking. Our online flight booking platform features flights for almost all domestic routes by reliable carriers along with the best prices, which enables travellers to find the best deals. </p>

        <h2>Why Choose Cleartrip for Domestic Flight Bookings</h2>
        <ul>
          <li>India has over 250 flight sectors; and at Cleartrip we allow you to browse various domestic flight schedules easily using our simple and user-friendly interface. Moreover, booking domestic flights at our website is as easy as 1-2-3.</li>

          <li>Cleartrip has tie-ups with all the top domestic airlines like Jet Airways, Indigo, Spice Jet, Air India, Vistara, Go Air, JetLite, and others. Frequent travellers and corporate houses can avail exciting deals on group bookings.</li>

          <li>The services we offer include hassle free online booking of flights, checking booking status, providing information on domestic and international trips or holidays, exciting deals and offers for booking local activities, railway reservations, checking PNR status and much more.</li>

          <li>Local travel agent charges are quite high; and moreover, they fail to get you the best deal. Cleartrip saves your time, money, and energy by bringing you some of the best deals.</li>

          <li>We provide you real-time updates on flight schedule. So, if your flight is delayed, you will know much before time. You need not worry about missing the flight or waiting for hours at the airport.</li>

          <li>If you are an Indian who is planning to go abroad, Cleartrip allows you to do international flight bookings and also provides information on planning a perfect international holiday.</li>

          <li>Cleartrip assures you the best experience with its 24x7 helpline for any query regarding flight booking, cancellation, payments and refunds.</li>

        </ul>
        <h2>Booking a flight ticket on Cleartrip</h2>

        <p>The booking procedure on Cleartrip is quite simple. Select the date of journey, specify Journey From and Journey To details and number of people. As soon as you feed in this data, you will be able to see the list of all the available flights for that date. Accordingly, you can click the Book Now button against the flight you choose. Next, you need to make the payment and book the ticket. Soon you will get a booking confirmation on your email/mobile.The tickets you book with us are additionally governed by the terms and conditions of respective airlines.  The total price displayed on the tickets is inclusive of the government charges, and there are no hidden charges.</p>

        <h2>Top 5 Domestic Flight Destinations</h2>

        <p>Cleartrip helps you to figure out the best routes and flights available when travelling within India or even abroad. You can compare price, know about travelling distance, flight departure and arrival time. Delhi, Mumbai, Bangalore, Chandigarh and Chennai are top 5 domestic flight destinations. On Cleartrip, you can not only book your flight to any of these destinations but also book hotels in Delhi, hotels in Mumbai, hotels in Bangalore, hotels in Chandigarh and hotels in Chennai.</p>

        <p>We also provide you detailed info on the things you can enjoy with family and kids in various cities in India. Some activities you can enjoy include outdoor activities like sightseeing and visit to theme parks and water parks; indoor fun activities like gaming, bowling, spa experience and watching 7D&9D movies and adventure activities like trekking, parasailing, and skydiving. You can book your local activities packages online at Cleartrip at amazing discounts. Check out:</p>
        <ul>
          <li>Things to do in Delhi</li>
          <li>Things to do in Mumbai</li>
          <li>Things to do in Bangalore</li>
          <li>Things to do in Chandigarh</li>
          <li>Things to do in Chennai</li>
        </ul>
        <h2>FAQs</h2>
        <ol>
          <li><b>What can be used as ID proof for domestic air travel?</b>
          <p>You can carry any government-issued photo identification like your driving license, pan card, passport, Aadhar card and voter id card. However, do ensure to take the original copy of whatever ID proof you are carrying as the photocopy or the photograph on your mobile or laptop will not be considered valid. If you have lost your only ID and are just left with the photocopy, then carry an affidavit along with it.</p>
          </li>
          <li><b>How much luggage can be carried on domestic flights?</b>
          <p>Every flight has the different set of rules with regards to weight and luggage. Mostly it is 16 kgs checked in baggage and 7 kgs hand baggage per ticket. The dimension of the bags also matters thus it is best to check with the respective airline while buying the tickets.</p>
          </li>
          <li><b>How much liquor is allowed on domestic flights?</b>
          <p>You can’t carry any liquor in your checked in baggage. However, 5 litres of liquor is allowed in hand luggage. Rules will be different for dry states like Gujarat and Bihar. Therefore, if you need to carry liquor, do check with the authorities as carrying extra liquor will be counted as a legal offence and might result in fine or punishment.</p>
          </li>
          <li><b>How much cash is allowed in domestic flight?</b>
          <p>Without papers, one can carry two lakh rupees. Beyond that, if you have a valid source of money, you can carry any amount, but you might need to declare the same at customs.</p>
          </li>
          <li> <b>How many seats can be booked at one time?</b>
          <p>You can book up to 9 tickets at a time and for more than 9 you will have to start a new booking process. </p>
          </li>
          <li><b>How can I cancel my flight booking?</b>
          <p>For cancelling online flight booking, please follow the procedure given here.</p>
          </li>
          <li><b>How can I get the ticket cancellation amount back?</b>
          <p>The money will be credited to your booking account. If you have booked from the credit card, it will be credited to your credit card within 7 working days. Please note that time to get a refund can change with the change in rules.<p>
          </li>
          </ol>
