<div class="blocks">
	<% if @section.include? "dom" %>
	<h2>Top domestic Airports</h2>
	<% else %>
	<h2>Top International Airports</h2>
	<% end %>
	<ul class="list-unstyled top-airlines">
		<% top_airports.each do |airport| %>
		<li>
			<a href="<%= url_escape(airport['city_name'])%>-airport.html"><%= airport["airport_name"] %></a>
		</li>
		<% end %>
	</ul>
</div>