<div style="background-color:#ffffff">
  <div class="container-fluid">
    <div class="sixteen columns alpha">


      <ul class="footerlinkssmall">
        <li> رحلات طيران دولية :</li>
        <li class="first"> <a href="/ar/flight-schedule/bahrain-abu-dhabi-flights.html" title="البحرين أبو ظبي الطيران">البحرين أبو ظبي الطيران</a> </li>
        <li> <a href="/ar/flight-schedule/bahrain-dubai-flights.html" title="البحرين دبي الطيران">البحرين دبي الطيران</a> </li>
        <li> <a href="/ar/flight-schedule/bahrain-doha-flights.html" title="البحرين الدوحة  الطيران">البحرين الدوحة  الطيران</a> </li>
        <li> <a href="/ar/flight-schedule/bahrain-riyadh-flights.html" title="البحرين الرياض  الطيرانss">البحرين الرياض  الطيران</a> </li>
        <li> <a href="/ar/flight-schedule/bahrain-jeddah-flights.html" title="البحرين جدة  الطيران">البحرين جدة  الطيران</a> </li>
        <li> <a href="/ar/flight-schedule/bahrain-cairo-flights.html" title="البحرين القاهرة  الطيران">البحرين القاهرة  الطيران</a> </li>
        <li> <a href="/ar/flight-schedule/bahrain-muscat-flights.html" title="البحرين مسقط الطيران">البحرين مسقط الطيران</a> </li>
        <li> <a href="/ar/flight-schedule/bahrain-kuwait-flights.html" title="البحرين الكويت الطيران">البحرين الكويت الطيران</a> </li>
        <li> <a href="/ar/flight-schedule/bahrain-amsterdam-flights.html" title="البحرين أمستردام الطيران">البحرين أمستردام الطيران</a> </li>
        <li> <a href="/ar/flight-schedule/bahrain-frankfurt-flights.html" title="البحرين فرانكفورت الطيران">البحرين فرانكفورت الطيران</a> </li>
        <li> <a href="/ar/flight-schedule/bahrain-new-delhi-flights.html" title="البحرين نيودلهي الطيران">البحرين نيودلهي الطيران</a> </li>
        <li> <a href="/ar/flight-schedule/bahrain-london-flights.html" title="البحرين لندن الطيران">البحرين لندن الطيران</a></li>
        <li> <a href="/ar/flight-schedule/bahrain-amman-flights.html" title="البحرين عمان الطيران">البحرين عمان الطيران</a> </li>
        <li> <a href="/ar/flight-schedule/bahrain-sharjah-flights.html" title="البحرين الشارقة الطيران">البحرين الشارقة الطيران</a> </li>
    </ul>

      <ul class="footerlinkssmall">
        <li>أدوات أخرى:</li>
        <li> <a href="/" title="تذاكر طيران رخيصة">تذاكر طيران رخيصة</a> </li>
        <li> <a href="/flights" title="حجز رحلات رخيصة للسفر داخل الهند والخارج">الرحلات الداخلية</a> </li>
        <li> <a href="/international-flights" title="حجز رحلات رخيصة للسفر داخل الهند والخارج"> رحلات طيران دولية</a> </li>
        <li> <a href="/status/" title="حالة الرحلة">حالة الرحلة</a> </li>
        <li> <a href="/hotels/bahrain/" title="الفنادق">الفنادق</a> </li>

        <li> <a href="/ar/flight-schedule/flight-schedules-domestic.html" title="جدول الرحلات المحلية">جدول الرحلات المحلية</a> </li>


        <li> <a href="/ar/flight-schedule/flight-schedules-international.html" title="جدول الرحلات الدولية">جدول الرحلات الدولية</a> </li>
        
      </ul>
      <div class="clear"></div><ul class="footerlinkssmall" style="width:100%;"> <li style="width:80%">&copy;2006 - 2017 كليرتريب الخاصة.المحدودة</li><li> <a href="/privacy-policy/">الخصوصية</a> </li><li> <a href="/security">الحماية</a> </li><li> <a href="/terms/index.shtml">شروط الاستخدام</a> </li></ul>
    </div>
  </div>
</div>
