<div style="background-color:#ffffff" style="width:100%";>
  <div class="container" style="width:100%";>
    <div class="sixteen columns alpha" style="width:100%";>

      <ul class="footerlinkssmall">
        <li>أدوات أخرى:</li>
        <li> <a href="/" title="تذاكر طيران رخيصة">تذاكر طيران رخيصة</a> </li>
        <li> <a href="/flights" title="الرحلات الداخلية">الرحلات الداخلية</a> </li>
        <li> <a href="/international-flights" title=" رحلات طيران دولية"> رحلات طيران دولية</a> </li>
        <li> <a href="/status/" title="حالة الرحلة">حالة الرحلة</a> </li>
        <li> <a href="/hotels/bahrain/" title="الفنادق">الفنادق</a> </li>

        <li> <a href="/ar/flight-schedule/flight-schedules-domestic.html" title="جدول الرحلات المحلية">جدول الرحلات المحلية</a> </li>

        <li> <a href="/ar/flight-schedule/flight-schedules-international.html" title="جدول الرحلات الدولية">جدول الرحلات الدولية</a> </li>

      </ul>
      <div class="clear"></div>
      <ul class="footerlinkssmall" style="width:100%;">
        <li style="width:80%">&copy; 2006 - 2017 كليرتريب الخاصة.المحدودة</li>
        <li> <a href="/privacy-policy/">الخصوصية</a> </li>
        <li> <a href="/security/">الحماية</a> </li>
        <li> <a href="/terms/index.shtml">شروط الاستخدام</a> </li>
      </ul>
    </div>
  </div>
</div>
