<p>
  سلطنة عمان هي دولة تقع في غرب آسيا، وهي ثالث أكبر بلد من حيث المساحة في شبه الجزيرة العربية حيث تبلغ مساحتها، 309,500 كم. وهي من المدن المستقرة اقتصاديا وسياسيا بشكل كبير، حيث تحتل المرتبة ال 23 في العالم من حيث احتياطي النفط وال 27 من حيث احتياطي الغاز، وعلى العموم تحتل المرتبة ال 64 في أكثر الاقتصادات قوة في العالم.
  تعتبر سلطنة عمان من البلاد السياحية، وذلك بسبب الوديان والصحاري الكبيرة، هذا بالإضافة للشواطئ والسواحل في البلد العربي، بالإضافة للعديد من الأماكن التاريخية القديمة مثل القلاع والحصون والأسواق القديمة، هذا بالإضافة للمتاحف العديدة.
  انتشار المطارات في سلطنة عمان والسفر الداخلي بين البلاد يسهل مهمة الانتقال في البلد بشكل كبير للسياح أو للمستثمرين في البلاد.
</p>
<h2>الطيران العماني</h2>
<p>
  الطيران العماني هو الطيران الرسمي لسلطنة عمان، حيث تم تأسيسه في عام 1993, حيث يقع مركزها الرئيسي في مسقط عاصمة سلطنة عمان، حيث تملك أسطول كبير يتكون من 51 طائرة، تتوجه ل 50 وجهة في جميع إنحاء العالم.
  الطيران العماني يتبع شعار " الرؤية الحديثة والتقاليد الخالدة", وتتميز ببرنامج المسافر الدائم التميز برنامج السندباد، وتحتوي طائرات الطيران العماني على ثلاث درجات، الدرجة الاقتصادية، ودرجة رجال الأعمال والدرجة الأولى، كما حصلت شركة الطيران العماني على العديد من الجوائز في السنوات الماضية دليلا على التطور الذي تشهده الشركة.
</p>
<h2>درجات الركاب</h2>
<p>
  1- الدرجة الاقتصادية: تتميز الدرجة الاقتصادية على الطيران العماني،
  بالرفاهية بسبب الكراسي المصنعة خصيصاً لراحة الركاب وبلونها الأزق المميز،
  بالإضافة إلى الشاشة الشخصية صاحبة ال 10.6 بوصة، التي يمكن تعديل وضعها
  للاستمتاع بمختلف الأفلام والموسيقى والألعاب أثناء رحلتك على متن طيران
  العماني.
</p>
<p>
  2- درجة رجال الأعمال: رفاهية درجة رجال الأعمال في الطيران العماني تتخطى
  الكثير من رفاهية الدرجات الأولى لمختلف شركات الطيران الأخرى، حيث توجد
  الكابينة الخاصة بك، التي يمكن تحويلها إلى سرير بسهولة في مساحتك الشخصية،
  بالإضافة إلى برنامج التسلية المعد خصيصا لركاب درجة رجال الأعمال، والتي
  يمكنك استعمالها في الشاشة ال 17 بوصة الموجودة في الكابينة الخاصة بك
</p>
<p>
  3- الدرجة الأولى: الدرجة الأولى تتميز بوجود الجناح الخاص بك على الطائرة، ذو
  الباب المنزلق الخاص بك، والكرسي الموجود في الوسط التي يمكنك أن تقوم بتعديل
  وضعه ومكانه باستخدام اللمس، وسيقوم طاقم الطائرة بتجهيز السرير الخاص بك
  عندما تحتاجه، بالإضافة إلى إمكانية التخزين لملابسك أثناء استمتاعك ببرنامج
  التسلية المعد خصيصا لك على الشاشة المميزة في الدرجة الأولى
</p>
<h2>المطارات في سلطنة عمان</h2>
<p>
  1- مطار مسقط الدولي: يعد مطار مسقط الدولي هو المطار الرئيسي في سلطنة عمان،
  حيث يقع في العاصمة مسقط في ولاية السيب، ويستوعب المطار الآن 20 مليون مسافر
  سنويا، وتديره الشركة العمانية لإدارة المطارات
</p>
<p>
  2-مطار صلالة: مطار صلالة هو ثاني أكبر مطار في سلطنة عمان، ويقع في مدينة
  صلالة، وتم تجديد المطار حديثاً حيث وصل مساحته الاستيعابية إلى 2 مليون مسافر
  سنويا وتوجد به العديد من الرحلات الدولية
</p>
<p>
  3- مطار صحار: هو أحد المطارات الحديثة حيث بدأ العمل في عام 2014, وبدأ
  الرحلات الدولية في عام 2017, ويعد من المطارات الأساسية في سلطنة عمان لأنه
  يقع في ولاية صحار كبوابة أخرى غير مسقط، ويسع إلى 250 ألف مسافر سنويا.
</p>
<p>
  4- مطار خصب: وهو أحد المطارات الصغيرة في السلطنة، ويقع قرب الحدود مع
  الأمارات العربية المتحدة في ولاية خصب، ويعتمد فقط على الرحلات الداخلية من
  العاصمة مسقط.
</p>
<h2>اهم المدن في سلطنة عمان</h2>
<p>
  1- مسقط: مسقط تعد اهم المدن في سلطنة عمان، كونها العاصمة، تطل مسقط على
  البحر بالإضافة لوجود للبيئة الجبلية والصحراوية التي تجعلها مركز سياحي،
  ويبلغ عدد سكان مسقط 1.2 مليون نسمة.
</p>
<p>
  2-صحار: من أشهر المدن في سلطنة عمان ومن اعتقها، وتمتلئ صحار بالأسواق
  القديمة في المدينة، وتعد أكبر مدينة تجارية في الدولة تاريخيا، حيث لها تاريخ
  تجاري يعود إلى 2000 سنة قبل الميلاد، ويبلغ عدد سكان صحار 220,000 ألف نسمة
  الآن
</p>
<p>
  3-صلالة: صلالة هي من اهم وأقدم المدن في سلطنة عمان، وتعتبر من أكثر المدن من
  حيث عدد السكان، ويعمل سكانها غالبا في الزراعة وتربية المواشي، كما أنها تعد
  من أشهر المدن التجارية في المدينة لوقوعها على واحد من اهم الطرق التجارية في
  التاريخ
</p>
<p>
  4-رستاق: أحد أشهر المدن في سلطنة عمان، وذلك بسبب أهميتها السياحية نظرا
  لامتلاكها عدد من الأماكن المهمة، مثل عيون الكسفة الطبيعية التي تشتهر
  بالمياه ذي ال 45 درجة مئوية، وتعتبر من العيون الطبيعية العلاجية.
</p>
<p>
  5-صور: من المدن التاريخية في العاصمة، وكانت في يوم من الأيام هي الميناء
  الرئيسي لسلطنة عمان، وتشتهر بها الأثار الفينيقية لأن الفينيقيين قاموا
  باستيطان المدينة لفترة كبيرة.
</p>
<h2>الأسئلة الشائعة</h2>
<p>
  1-
  <a href="https://www.omanair.com/ar/faqs/general-questions">
    ما هي تكلفة المقعد بالمساحة الإضافية للساقين؟
  </a>
</p>
<p>
  تكلفة المقعد بالمساحة الإضافية للساقية هي مبلغ 15 ريال عماني
</p>
<p>
  2- ماذا افعل
  <a href="https://www.omanair.com/ar/faqs/general-questions">
    في حال تركي لأحد أغراضي على متن الطائرة أو في المطار؟
  </a>
</p>
<p>
  عليك الاتصال بمكتب المفقودات في المطار الذي سافرت منه أو إليه في حال تركك
  لأي غرض في المطار أو على متن الطائرة.
</p>
<p>
  3-
  <a href="https://www.omanair.com/ar/faqs/general-questions">
    هل أستطيع طلب مساعدة خاصة لرحلتي؟
  </a>
</p>
<p>
  نعم عن طريق الاتصال بوكيل السفر الخاص بك لإبلاغه باحتياجاتك الخاصة
</p>
<p>
  4-
  <a href="https://www.omanair.com/ar/faqs/general-questions">
    ما هي الخدمات المتاحة عند الترقية إلى درجة رجال الأعمال؟
  </a>
</p>
<p>
  عند الترقية يمكنك التمتع بمقعد درجة رجال الأعمال ووجبة درجة رجال الأعمال،
  بالإضافة إلى أحقية الحصول على حمولة شحن إضافية.
</p>
<p>
  5-
  <a href="https://www.omanair.com/ar/faqs/general-questions">
    هل أستطيع عمل حجز لأي شخص؟
  </a>
</p>
<p>
  نعم. للحجز لشخص آخر قم بإدخال اسمه في البيانات، وسوف يتم إصدار التذاكر باسم
  ذلك الشخص.
</p>
<h2>لماذا تحجز مع كليرتيب</h2>
<p>
  عند الحجز مع كليرتيب ستتمتع بكل المزايا المتاحة في الموقع، وبتجربة حجز
  فريدة من نوعها، بداية من سهولة حجز التذاكر بشكل سهل للغاية، بالإضافة إلى
  السرعة في حجز التذاكر، وذلك بفضل سهولة الموقع المصمم بشكل يساعد المستخدم
  على الوصول إلى ما يريده بأسهل وبأسرع طريقة.
</p>
<p>
  بالإضافة إلى ذلك فستجد جداول ومواعيد الطائرات موجودة بشكل منظم للغاية على
  الموقع، يساعدك على الاختيار بسهولة شديدة، كما تتيح لك خدمة التنبيه على
  الموقع في معرفة تغيرات الأسعار فور حدوثها.
</p>
<p>
  يمكنك أيضا استخدام الموقع في أي وقت واي مكان وذلك بفضل تطبيق كليرتيب على
  الهواتف المحمولة الذي يجعل الحجز أسهل كثيرا.
</p>