<h1>الخطوط الجوية القطرية</h1>
<h2>معلومات عن قطر</h2>
<p>
  عند النظر إلى خريطة الخليج العربي، لا يمكنك إلا أن تلاحظ شبه الجزيرة
  المتفردة بإحاطة المياه لها من ثلاث جهات، إنها قطر الحداثة والأصالة في آن
  واحد. قطر التي تعد من أغنى دول العالم، والتي يتميز شعبها بوجود رؤية مشتركة
  لديهم للاتجاه نحو التطور والرقي مع الحفاظ على التقاليد والتراث. لذلك لا
  تتعجب حينما ترى الأبراج الشاهقة والتكنولوجيا الحديثة جنبا إلى جنب مع القلاع
  الصحراوية ومصائد الأسماك، أو ترى أبراجا شاهقة تمتاز بالعصرية مع لمسات
  معمارية عربية أصيلة. فبالرغم من حرارة الجو العالية التي تتجاوز ال 38 درجة
  مئوية خلال معظم شهور العام، إلا أن الرفاهية والتسهيلات التي تقدمها الخطوط
  الجوية القطرية تشجع السياح على زيارة قطر والاستمتاع بحداثتها ممثلة في
  مبانيها ومرافقها ومعالمها التاريخية ومنتجعاتها ومتاحفها التاريخية الرائعة.
</p>
<h2>الخطوط الجوية القطرية</h2>
<p>
  بشعارها المتفرد الممثل بحيوان "المها" باللون العنابي والمستوحى من طبيعة
  دولة قطر هي شركة طيران عالمية تسير رحلات جوية يومية للقارات الست ضمن أسطول
  طائرات يزيد عن 200 طائرة و إلى ما يزيد عن 150 وجهة عالمية تنطلق جميعها من
  مطار حمد الدولي والذي يحتل المرتبة الخامسة ضمن ترتيب أفضل مطارات العالم.
  كما حازت منذ تأسيسها عام 1997 على جائزة سكاي تريكس كأفضل خطوط طيران في
  الأعوام 2011، 2012، 2015، 2017. كما أنها عضو في تحالف "Oneworld" العالمي
  الذي يتيح للمسافرين الاستفادة من خدماته في حوالي 1000 مطار.
</p>
<h2>درجات الطيران</h2>
<p>
  يمكن الاختيار بين ثلاث درجات طيران فاخرة تقدمها الخطوط الجوية القطرية وهي،
  الدرجة الأولى، ودرجة رجال الأعمال، والدرجة الاقتصادية.
</p>
<h3>الدرجة الأولى</h3>
<p>
  تتميز مقصورة ركاب الدرجة الاولى بالفخامة والرفاهية، من حيث المقاعد الوثيرة،
  والإضاءة الحميمية والخصوصية وأغطية الأسرة الفاخرة المقدمة من Frette مع وجود
  خدمة الطعام حسب الطلب وكذلك المشروبات المتنوعة والمختلفة والفواكه المجففة.
  كما يلحق بكل مقعد منفذ USB وشاشة عرض مناسبة ومجموعة من العروض المتنوعة التي
  يقدر عددها بأكثر من 4000 مادة ترفيهية ما بين المغامرة والحركة والخيال
  والوثائقيات لتناسب جميع الأذواق وليقضي المسافر على متن الخطوط الجوية
  القطرية تجربة ممتعة لا تنسى.
</p>
<h3>درجة رجال الأعمال</h3>
<p>
  توفر درجة رجال الأعمال على خطوط الطيران القطرية إتاحة الفرصة للمسافرين
  لاستكمال أعمالهم على متن الطائرة عبر توفير مقاعد رحبة مريحة ذات أقمشة فاخرة
  مختارة بعناية وإضاءة مناسبة وخصوصية فائقة في أجنحة خاصة مميزة مع وجود
  المقاعد في منتصف الطائرة وإمكانية تغيير وجهة المقاعد لتواجه بعضها البعض.
  كما توجد أسرة وثيرة- يمكن فردها بالكامل- ذات شراشف ناعمة ومساحات رحبة
  للتخزين، ويطغى على درجة رجال الأعمال مزيج من اللونين العنابي والرمادي مع
  لمسات من الذهبي والوردي ما يتماشى مع شعار الخطوط الجوية القطريةويضفي جوا من
  الدفء والحميمية خلال الرحلة. كما توجد لوحة لأجهزة الوسائط ملحقة بكل مقعد
  توفر للمسافر استخدام أجهزته الخاصة ومتابعة المواد الترفيهية. كما تتوافر
  أيضا مستلزمات للعناية بالبشرة لأفخر العلامات التجارية مثل Brics. كما يتم
  تقديم ملابس للنوم.
</p>
<h3>الدرجة الاقتصادية</h3>
<p>لدى الخطوط الجوية القطرية أفضل طاقم ضيافة في الشرق الأوسط مما يضمن راحة المسافرين أثناء رحلاتهم. حيث توفر الدرجة الاقتصادية مقاعد مريحة فاخرة ذات مساحة شخصية  ومكان مناسب لتناول الطعام والنوم . مع كماليات   ملحقة  بكل مقعد مثل مرطب الشفاه، ومنتجات العناية بالأسنان وسدادات الأذن وفتحات ال USB  المناسبة لمختلف الأجهزة. كذلك يتم تقديم صناديق طعام بوجبات طعام مخصصة للأطفال وألعاب تفاعلية وقنوات خاصة بالأطفال.</p>
<h2>المطارات في قطر</h2>
<p>
  يوجد في قطر ثلاثة من المطارات وهم:
</p>
<p>
  مطار حمد الدولي، مطار الخور، ومطار العيديد العسكري.
</p>
<p>
  يمكن للمسافر قبل وبعد الرحلات الاستمتاع بالتسوق والاسترخاء والخدمات
  الفندقية وتناول الطعام وأماكن الصلاة ذات خصوصية للرجال والنساء وصالات ألعاب
  ولياقة بدنية متاحة على مدار 24 ساعة، كما تتوفر خدمات انترنت لاسلكي مجانية
  وإجراء مكالمات عبر كروت الدفع المسبق. وتوجد أيضا مراكز لل SPA وغرف للأمهات
  اللاتي لديهن أطفال رضع تتوافر بها إمكانية تدفئة المياه أو الحليب وتوفير
  أماكن مناسبة لتغيير الحفاضات، وتوجد غرف للقراءة والمدخنين وأمكان للنوم
  للأفراد والعائلات.
</p>
<h2>أهم المدن في قطر</h2>
<p>الدوحة هي أهم المدن القطرية فهي العاصمة التي تتميز بكونيش هلالي الشكل وتمتزج فيها ألوان الماء مع الصحراء في الخلفية في  لوحة طبيعية خلابة تخطف الأنفاس. كما توجد مدينة الريان التي تشتهر بسباقات الخيل الشهيرة. أما مدينة الخور فهي أشهر المزارات الشاطئية في قطر.ومدينة الدخان الصناعية التي تشتهر بمصانع النفط. ومدينة الوكرة التي اشتهرت قديما بصيد اللؤلؤ والأسماك، وتضم متحف الحياة البحرية.</p>
<h2>أشهر وجهات الطيران</h2>
<p>150 وجهة طيران تتحرك يوميا بين مطار حمد الدولي بالدوحة ومطارات العالم، فتوجد مثلا أربع رحلات يومية مباشرة من دلهي إلى الدوحة، كذلك من السهولة بمكان السفر من مومباي إلى الدوحة. كما تسير رحلات طيران يومية مباشرة من بانجالور للدوحة، و من الدوحة إلى لندن توجد 15 رحلة منهم 13 رحلة مباشرة للندن. وتخرج رحلتان مباشرتان يوميا من الدوحة إلى القاهرة وكذلك من الدوحة لنيويورك.</p>
<h2>أسئلة شائعة</h2>
<ul>
  <li>
    <p>
      ما الخطوات المطلوب اتباعها في حال الرغبة في إلغاء الحجز أو
      استرجاعه؟
    </p>
  </li>
</ul>
<p lang="en-US">
  بالنسبة للتذاكر التي تم حجزها عن طريق موقع الخطوط الجوية القطرية فيمكن
  الذهاب إلى خيار طلبات الاسترجاع، كما يمكن التواصل مع أقرب مكتب للطيران
  القطري أو الاتصال على رقم +974 4022 0072 وكذلك في حال الحجز عبر احد مكاتب
  الطيران ويتم الاسترجاع خلال 14-28 يوما.
</p>
<ul>
  <li>
    <p>
      هل يمكن تغيير المقعد والوجبة بعد استكمال الحجز الإلكتروني؟
    </p>
  </li>
  <li>
    <p>
      نعم يمكن ذلك حتى 24 ساعة قبل السفر.
    </p>
  </li>
</ul>
<ul>
  <li>
    <p>
      هل يسمح باصطحاب الحيوانات أثناء السفر؟
    </p>
  </li>
  <li>
    <p>
      يمكن ذلك بالنسبة للحيوانات الغير مؤذية مثل القطط والكلاب والطيورعلى
      أن يتم نقلهم بشكل منفصل.
    </p>
  </li>
  <li>
  </li>
</ul>
<ul>
  <li>
    <p>
      هل يسمح باصطحاب شاشات LCD و LED مع الأمتعة؟
    </p>
  </li>
</ul>
<ul>
  <li>
    <p>
      بشرط التزام الحد الأقصى للأبعاد الذي يتراوح بين 158 و 300 سنتيميتر
      حسب الرحلة، ويلتزم المسافر بتأمين الأمتعة القابلة للكسر.
    </p>
  </li>
</ul>
<ul>
  <li>
  </li>
</ul>
<ul>
  <li>
    <p>
      هل يمكن اصطحاب الحاسوب المحمول أثناء السفر؟
    </p>
  </li>
</ul>
<ul>
  <li>
    <p>
      يمكن ذلك بشرط وضعه في حقيبة وبشرط الالتزام بعدد الحقائب المسموح بها
      على متن الطائرة.
    </p>
  </li>
</ul>
<h2>لماذا تحجز مع كليرتريب؟</h2>
<ul>
  <li>
    <p>
      لأننا نعرض جدول رحلات طيران واضح سهل المتابعة.
    </p>
  </li>
  <li>
    <p>
      ولأننا نتيح لك إمكانية حجز التذاكر بيسر وسهولة بدون الحاجة للخروج
      والتنقل وإجراء المكالمات.
    </p>
  </li>
  <li>
    <p>
      كما نوفر لك موقعا إلكترونيا ذا واجهة سهلة للتصفح اليسير.
    </p>
  </li>
  <li>
    <p>
      وعند التسجيل لدينا يمكننا موافاتك دائما بأفضل العروض والأسعار
      المميزة.
    </p>
  </li>
  <li>
    <p>
      ويمكنك أيضا أن تقوم بحجز رحلاتك في أي وقت ومن أي مكان عبر تطبيق
      CLEARTRIP .
    </p>
  </li>
  <li>
    <p>
      ولأنه لدينا طاقم خدمة عملاء مستعد لمساعدتك بكل ترحاب دائما في كل
      وقت.
    </p>
  </li>
</ul>