
<section id="common-banner">
  <div class="custom-container">
    <div class="banner-top-cnt">
    
   </div>

   <!--/new-srp-widget-->
   <div id="d-new-widget" class="new-srp-widget hidden-xs">
    <form name="search_widget" errorblockid="flt_err" id="AirSearch" class="search no-action-change removeSelflabels" method="get">
     <!--  <ul class="list-inline >
        <li class="active">
          <input id="oneway" type="radio" class="toggle_trip one_way" name="rnd_one" value="O" checked="checked"> <label  for="oneway">One Way</label>
        </li>
        <li>
          <input id="rnd-trip" type="radio"  class="toggle_trip rnd_trip" name="rnd_one" value="R"><label for="rnd-trip" >Round Trip</label>
        </li>
      </ul> -->
      <div class="form-fields">
        <!-- <ul class="list-inline trip-type">
          <li class="active">
            <input id="oneway" type="radio" class="toggle_trip one_way" name="rnd_one" value="O" checked="checked"> <label for="oneway">One Way</label>
          </li>
          <li>
            <input id="rnd-trip" type="radio" class="toggle_trip rnd_trip" name="rnd_one" value="R" checked="checked"><label for="rnd-trip">Round Trip</label>
          </li>
        </ul> -->
        <ul class="list-inline trip-type">
          <li class="active">
            <input id="oneway" type="radio" class="toggle_trip one_way" name="rnd_one" value="O" checked="checked"> <label  for="oneway">One Way</label>
          </li>
          <li>
            <input id="rnd-trip" type="radio"  class="toggle_trip rnd_trip" name="rnd_one" value="R"><label for="rnd-trip" >Round Trip</label>
          </li>
          <li class="airports-codes">
            <input type="text" name="" placeholder="Any Airport or City" id="origin_autocomplete">
            <input type="hidden" name="from" class="from">
          </li>
          <li class="trip-swap">
            <img src="https://s3-ap-southeast-1.amazonaws.com/waytogo-assets/waytogo-staging/flight-schedule-version-2-images/trip-swap.svg" alt="">
          </li>
          <li class="airports-codes">
            <input type="text" name="" placeholder="Any Airport or City" id="destination_autocomplete">
            <input type="hidden" name="to" class="to">
          </li>
          <li class="calendar D-Ddate">
            <input type="text" readonly="readonly"  title="Departure date" id="dpt_date" name="depart_date" placeholder="Depart On" class="datePicker required selflabel">
          </li>
          <li class="calendar D-Rdate">
            <input type="text" readonly="readonly" placeholder="Return On" id="rtn_date" title="Return date" name="return_date" class="datePicker">
          </li >
          
          <li class="pax-count dropdown">
            <div class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              <input type="text" readonly="readonly" name="travellers" placeholder="Travellers" class="travellers_data" value="1 Traveller">
              <input type="hidden" name="adults" value="1">
              <input type="hidden" name="infants" value="0">
              <input type="hidden" name="childs" value="0">
            </div>
            <ul class="list-unstyled dropdown-menu desktop_travellers">
              <li>
                <span class="pax-info">Adults </span>
                <span class="click-block">
                  <a class="pax-btn"  href="javascript:void(0)">
                    <i class="fa fa-minus decrement adult-decrement"></i>
                  </a>
                  <span class="count adult-count" style="margin-right:5px;">1</span>
                  <a class="pax-btn"  href="javascript:void(0)">
                    <i class="fa fa-plus increment adult-increment"></i>
                  </a>
                </span>
              </li>
              <li>
                <span class="pax-info">Children <span class="note">
                  (2-12 yrs)
                </span></span>

                <span class="click-block">
                  <a class="pax-btn"  href="javascript:void(0)"><i class="fa fa-minus decrement child-decrement"></i></a>
                  <span class="count child-count" style="margin-right:5px;">0</span>
                  <a class="pax-btn"  href="javascript:void(0)"><i class="fa fa-plus increment child-increment"></i></a>
                </span>
              </li>
              <li>
                <span class="pax-info">Infants <span class="note">
                  (Below 2yrs)
                </span></span>

                <span class="click-block">
                  <a class="pax-btn" href="javascript:void(0)">
                    <i class="fa fa-minus decrement infant-decrement"></i>
                  </a>
                  <span class="count infant-count" style="margin-right:5px;">0</span>
                  <a class="pax-btn" href="javascript:void(0)">
                    <i class="fa fa-plus increment infant-increment"></i>
                  </a>
                </span>
              </li>
              <li><button class="Dtravellers ct-btn">Done</button></li>
            </ul>
          </li>
            <li class="d-new-submit">
              <input type="button" name="search_flights" class="ct-btn d-new-ct-btn" id="search_flights" value="Search Flights">
            </li>
          </ul>
        </div>
      </form>
    </div><!--/new-srp-widget-->    
    <div class="clearfix"></div>
  </div>
</section>







