<div class="top-offer-popup" style="display: none;">
  <div class="custom-container">
    <h3>Wait! Don't Leave <span class="top-offer-toggle"><a class="offer-button offerHideBtn" href="#">Hide</a></span></h3>
    <div class="top-offer-tag">Checkout More Discounts for your Flight Booking</div>
    <div class="top-offer-card">
      <!-- <a href="https://www.cleartrip.com/offers/india/ctflat500" target="_blank"> -->
        <span class="offer-type">Flat</span>
        <span class="offer-amount">Rs.500<span>Off</span></span>
        <div class="top-offer-code"></div>
        <div class="top-offer-code">CTFLAT500</div>
        <div class="top-offer-tc">Valid till March 31.</div>
        <div class="top-offer-tc">* Terms and Conditions Apply</div>
    </div>
    <div class="top-offer-card">
      <!-- <a href="https://www.cleartrip.com/offers/india/domair-ctsave" target="_blank"> -->
        <span class="offer-type">Up to</span>
        <span class="offer-amount">Rs.1,500<span>Instant Cashback</span></span>
        <div class="top-offer-code">SAVENOW</div>
        <div class="top-offer-tc">Valid till Dec 31.</div>
        <div class="top-offer-tc">* Terms and Conditions Apply</div>
      <!-- </a> -->
    </div>
    <div class="top-offer-card">
      <!-- <a href="https://www.cleartrip.com/offers/india/hdfc-travel-offer" target="_blank"> -->
        <span class="offer-type">Up to</span>
        <span class="offer-amount">Rs.10,000<span>Instant Cashback</span></span>
        <div class="top-offer-code">CTFESTHDFC</div>
        <div class="top-offer-tc">Valid till Dec 31.</div>
        <div class="top-offer-tc">* Terms and Conditions Apply</div>
      <!-- </a> -->
    </div>
    <div class="top-offer-card">
      <!-- <a href="https://www.cleartrip.com/offers/india/hsbc-fantastic-fridays" target="_blank"> -->
        <span class="offer-type">Up to</span>
        <span class="offer-amount">Rs.2,800<span>Instant Savings</span></span>
        <div class="top-offer-code">CTHSBCFRIDAY</div>
        <div class="top-offer-tc">Valid on every Friday</div>
        <div class="top-offer-tc">* Terms and Conditions Apply</div>
      <!-- </a> -->
    </div>
    <div class="clearfix"></div>
  </div>
</div><!--/offer-popu-->