<div class="blocks">
	<h2><%= t("brand.top_#{section}_airlines")%></h2>
	<ul class="list-unstyled top-airlines">
		<% top_airlines.each do |cc| %>
		<li>
			<div class="col-xs-4 pad-rzero">
				<%= link_to( t('button.book'), "/ar/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{cc}") }).downcase.gsub(" ", "-").gsub("--","-") + ".html",:class=>"booking") %>
			</div>
			
			<div class="col-xs-8 pad-5">
				<% airline_name = link_to( t("airlines.#{cc}"), "/ar/flight-booking/" + format_airline_name(I18n.with_locale(:en) { t("airlines.#{cc}") }).downcase.gsub(" ", "-").gsub("--","-") + ".html") %>
				<%= airline_name %>
			</div>
			
			<div class="clearfix"></div>
		</li>
		<% end %>
	</ul>
</div>