<!--/Header Starts Here-->
<section id="flights-nav">
  <div class="container">
    <div class="ctCol ctProducts mview-header">
      <a class="ctBrand" href="/">
        <span class="cleartripLogo" title="Cleartrip ">Home</span>
      </a>
      <ul class="productLinks hasProductIcons">
        <li class="flightApp">
          <a rel="bToolTip" title="Flights" href="/flights">
            <span class="productIcon flights">Flights</span>
          </a>
        </li>
        <li class="hotelApp">
          <a rel="bToolTip" title="Hotels" href="/hotels">
            <span class="productIcon hotels">Hotels</span>
          </a>
        </li>

      </ul>
    </div><!--/ctProducts-->
    <% unless @language == "ar" %>
      <div class="ctCol ctCenter mview-center hidden-xs">&nbsp;</div>
    <% end %>
    <div class="ctCol hidden-xs">
      <ul class="list-inline language">
        <% unless country_code == 'IN' %>
        <li class="en first active">
          <a href="<%= "#{application_processor.host_name(country_code)}/#{page_type}/#{flight_file_name}" %>" lang="en">English</a>
        </li>
        <li>|</li>
        <li>
          <a href="<%= "#{application_processor.host_name(country_code)}/ar/#{page_type}/#{flight_file_name}" %>" lang="ar">العربية</a>
        </li>
        <% end %>
      </ul>
    </div>
   <div class="Menuicon visible-xs pull-right"> <span></span> <span></span> <span></span></div>
  </div>
  <div class="clearfix"></div>
  </section><!--/Header ends here-->
