<div style="background-color:#ffffff" style="width:100%";>
  <div class="container" style="width:100%";>
    <div class="sixteen columns alpha" style="width:100%";>
     <!--  <ul class="footerlinks"> <li> <a href="/about/index.shtml" rel="nofollow" title="About Us">About Us</a> </li><li> <a href="/faq/" rel="nofollow" title="FAQs">FAQs</a> </li><li> <a href="/support/" rel="nofollow" title="Support">Support</a> </li><li> <a href="http://blog.cleartrip.com" rel="nofollow" title="Blog">Blog</a> </li><li> <a href="http://www.cleartripforbusiness.com/" rel="nofollow" title="Cleartrip for Business">Cleartrip for Business</a> </li><li> <a href="/mobile/" rel="nofollow" title="Mobile">Mobile</a> </li></ul> -->


      <ul class="footerlinkssmall">
        <li>International Flights :</li>
        <li class="first"> <a href="/flight-schedule/bahrain-abu-dhabi-flights.html" title="Bahrain Abu Dhabi Flights">Bahrain Abu Dhabi Flights</a> </li>
        <li> <a href="/flight-schedule/bahrain-dubai-flights.html" title="Bahrain Dubai Flights">Bahrain Dubai Flights</a> </li>
        <li> <a href="/flight-schedule/bahrain-doha-flights.html" title="Bahrain Doha  Flights">Bahrain Doha  Flights</a> </li>
        <li> <a href="/flight-schedule/bahrain-riyadh-flights.html" title="Bahrain Riyadh  Flightsss">Bahrain Riyadh  Flights</a> </li>
        <li> <a href="/flight-schedule/bahrain-jeddah-flights.html" title="Bahrain Jeddah  Flights">Bahrain Jeddah  Flights</a> </li>
        <li> <a href="/flight-schedule/bahrain-cairo-flights.html" title="Bahrain Cairo  Flights">Bahrain Cairo  Flights</a> </li>
        <li> <a href="/flight-schedule/bahrain-muscat-flights.html" title="Bahrain Muscat Flights">Bahrain Muscat Flights</a> </li>
        <li> <a href="/flight-schedule/bahrain-kuwait-flights.html" title="Bahrain Kuwait Flights">Bahrain Kuwait Flights</a> </li>
        <li> <a href="/flight-schedule/bahrain-amsterdam-flights.html" title="Bahrain Amsterdam Flights">Bahrain Amsterdam Flights</a> </li>
        <li> <a href="/flight-schedule/bahrain-frankfurt-flights.html" title="Bahrain Frankfrut Flights">Bahrain Frankfrut Flights</a> </li>
        <li> <a href="/flight-schedule/bahrain-new-delhi-flights.html" title="Bahrain New Delhi Flights">Bahrain New Delhi Flights</a> </li>
        <li> <a href="/flight-schedule/bahrain-london-flights.html" title="Bahrain London Flights">Bahrain London Flights</a></li>
        <li> <a href="/flight-schedule/bahrain-amman-flights.html" title="Bahrain Amman Flights">Bahrain Amman Flights</a> </li>
        <li> <a href="/flight-schedule/bahrain-sharjah-flights.html" title="Bahrain Sharjah Flights">Bahrain Sharjah Flights</a> </li>
    </ul>

      <ul class="footerlinkssmall"> <li>Other Tools:</li><li> <a href="/flights" title="Book cheap flights for travel within India and abroad">Domestic Flights</a> </li><li> <a href="/international-flights" title="Book cheap flights for travel within India and abroad">International Flights</a> </li><li> <a href="/status/" title="Flight Status">Flight Status</a> </li>
      <li> <a href="/hotels/bahrain/" title="Hotels">Hotels</a> </li><li> <a href="/flight-schedule/flight-schedules-domestic.html" title="Domestic Flight Schedule">Domestic Flight Schedule</a> </li><li> <a href="/flight-schedule/flight-schedules-international.html" title="International Flight Schedule">International Flight Schedule</a> </li></ul> <div class="clear"></div><ul class="footerlinkssmall" style="width:100%;"> <li style="width:80%">&copy;2006-2017 Cleartrip Pvt. Ltd.</li><li> <a href="/privacy-policy/">Privacy</a> </li><li> <a href="/security/">Security</a> </li><li> <a href="/terms/">Terms of Use</a> </li></ul>
    </div>
  </div>
</div>
