 <div style="background-color:#ffffff">
    <div class="container-fluid">
      <div class="sixteen columns alpha">
        <!-- <ul class="footerlinks"> <li> <a href="/about/index.shtml" rel="nofollow" title="About Us">About Us</a> </li><li> <a href="/faq/" rel="nofollow" title="FAQs">FAQs</a> </li><li> <a href="/support/" rel="nofollow" title="Support">Support</a> </li><li> <a href="http://blog.cleartrip.com" rel="nofollow" title="Blog">Blog</a> </li><li> <a href="http://www.cleartripforbusiness.com/" rel="nofollow" title="Cleartrip for Business">Cleartrip for Business</a> </li><li> <a href="/mobile/" rel="nofollow" title="Mobile">Mobile</a> </li></ul> -->
        <ul class="footerlinkssmall list-unstyled">
          <li>Domestic Airlines :</li>
          <li> <a href="/flight-booking/air-india-airlines.html" title="Air India Airlines">Air India Airlines</a> </li>
          <li> <a href="/flight-booking/air-india-express-airlines.html" title="Air India Express">Air India Express</a> </li>
          <li> <a href="/flight-booking/goair-airlines.html" title="Go Air">Go Air</a> </li>
          <li> <a href="/flight-booking/indigo-airlines.html" title="Indigo">Indigo</a> </li>
          <li> <a href="/flight-booking/jet-airways-airlines.html" title="Jet Airways">Jet Airways</a> </li>
          <li> <a href="/flight-booking/jet-konnect-airlines.html" title="Jet Konnect">Jet Konnect</a> </li>
          <li> <a href="/flight-booking/jetlite-airlines.html" title="JetLite">JetLite</a> </li>
          <li> <a href="/flight-booking/kingfisher-airlines.html" title="Kingfisher ">Kingfisher </a> </li>
          <li> <a href="/flight-booking/kingfisher-red-airlines.html" title="Kingfisher Red">Kingfisher Red</a> </li>
          <li> <a href="/flight-booking/spicejet-airlines.html" title="Spice Jet">Spice Jet</a> </li>
        </ul>

        <ul class="footerlinkssmall list-unstyled">
          <li>Domestic Flights :</li>
          <li class="first"> <a href="/flight-schedule/mumbai-new-delhi-flights.html" title="Mumbai Delhi Flights">Mumbai Delhi Flights</a> </li>
          <li> <a href="/flight-schedule/pune-new-delhi-flights.html" title="Pune Delhi Flights">Pune Delhi Flights</a> </li>
          <li> <a href="/flight-schedule/bangalore-new-delhi-flights.html" title="Bangalore Delhi Flights">Bangalore Delhi Flights</a> </li>
          <li> <a href="/flight-schedule/mumbai-bangalore-flights.html" title="Mumbai Bangalore Flights">Mumbai Bangalore Flights</a> </li>
          <li> <a href="/flight-schedule/mumbai-chennai-flights.html" title="Mumbai Chennai Flights">Mumbai Chennai Flights</a> </li>
          <li> <a href="/flight-schedule/pune-bangalore-flights.html" title="Pune Bangalore Flights">Pune Bangalore Flights</a> </li>
        </ul>

        <ul class="footerlinkssmall list-unstyled">
          <li>
            Other Tools:</li>
            <li>
              <a href="/" title="Cheap Air Tickets">
                Cheap Air Tickets
              </a>
            </li>
            <li>
              <a href="/flights" title="Book cheap flights for travel within India and abroad">
                Domestic Flights
              </a>
            </li>
      <!-- <li>
          <a href="/international-flights" title="Book cheap flights for travel within India and abroad">
              International Flights
          </a>
      </li>
      <li>
          <a href="/status/" title="Flight Status">
              Flight Status
          </a>
        </li> -->
        <li>
          <a href="/hotels/india/" title="Hotels">
            Hotels
          </a>
        </li>
        <li>
          <a href="/trains" title="IRCTC Railway Reservation">
            IRCTC Railway Reservation
          </a>
        </li>
        <li>
          <a href="/trains/pnr" title="Indian Railways PNR Status">
            Indian Railways PNR Status
          </a>
        </li>
        <li>
          <a href="/flight-tickets/cheap-flight-air-tickets-domestic.html" title="Domestic Air Tickets">
            Domestic Air Tickets
          </a>
        </li>
        <li>
          <a href="/flight-schedule/flight-schedules-domestic.html" title="Domestic Flight Schedule">
            Domestic Flight Schedule
          </a>
        </li>
        <li>
          <a href="/flight-booking/domestic-airlines.html" title="Domestic Airlines">
            Domestic Airlines
          </a>
        </li>
        <li>
          <a href="/tourism/airports/" title="Domestic Airports">
            Domestic Airports
          </a>
        </li>
        <li>
          <a href="/flight-tickets/cheap-flight-air-tickets-international.html" title="International Air Tickets">
            International Air Tickets
          </a>
        </li>
        <li>
          <a href="/flight-schedule/flight-schedules-international.html" title="International Flight Schedule">
            International Flight Schedule
          </a>
        </li>
        <li>
          <a href="/flight-booking/international-airlines.html" title="International Airlines">
            International Airlines
          </a>
        </li>
        <li>
          <a href="/tourism/airports/international-airports.html" title="International Airports">
            International Airports
          </a>
        </li>
        <li>
          <a title="Holiday Packages" href="/tourism/packages/">
            Holiday Packages
          </a>
        </li>
        <li>
          <a href="/tourism/packages/international-packages.html" title="International Packages">
            International Packages
          </a>
        </li>
        <li>
          <a href="/india" title="India Tourism">
            India Tourism
          </a>
        </li>

        <li> <a title="Train Routes" href="/tourism/train/routes/">Train Routes</a> </li>

        <li> <a href="/tourism/routes/" title="Travel Routes">Travel Routes</a> </li>
        <li><a href="https://www.cleartrip.com/india/">Travel Guides</a></li>

      </ul> <div class="clear"></div><ul class="footerlinkssmall list-unstyled" style="width:100%;"> <li style="width:80%">&copy;2006-2017 Cleartrip Pvt. Ltd.</li><li> <a href="/privacy-policy/">Privacy</a> </li><li> <a href="/security">Security</a> </li><li> <a href="/terms/index.shtml">Terms of Use</a> </li></ul>
    </div>
  </div>
</div>
