<div style="background-color:#ffffff">
  <div class="container-fluid">
    <div class="sixteen columns alpha">
      <ul class="footerlinkssmall list-unstyled">
        <li>International Airlines :</li>
        <li class="first"> <a href="/flight-booking/emirates-airlines.html" title="Emirates Airlines">Emirates Airlines</a> </li>
        <li> <a href="/flight-booking/air-asia-airlines.html" title="Air Asia">Air Asia</a> </li>
        <li> <a href="/flight-booking/virgin-atlantic-airlines.html" title="Virgin Atlantic">Virgin Atlantic</a> </li>
        <li> <a href="/flight-booking/qatar-airways-airlines.html" title="Qatar Airways">Qatar Airways</a> </li>
        <li> <a href="/flight-booking/singapore-air-airlines.html" title="Sngapore Airline">Sngapore Airline</a> </li>
        <li> <a href="/flight-booking/philippine-airlines.html" title="Phillippine Airlines">Phillippine Airlines</a> </li>
        <li> <a href="/flight-booking/air-arabia-airlines.html" title="Air Arabia">Air Arabia</a> </li>
        <li> <a href="/flight-booking/british-airways-airlines.html" title="British Airways">British Airways</a> </li>
        <li> <a href="/flight-booking/lufthansa-airlines.html" title="Lufthansa">Lufthansa</a> </li>
        <li> <a href="/flight-booking/tiger-airways-airlines.html" title="Tiger Airways">Tiger Airways</a> </li>
        <li> <a href="/flight-booking/srilankan-airlines.html" title="Srilankan Airlines">Srilankan Airlines</a> </li>
        <li> <a href="/flight-booking/cathay-pacific-airlines.html" title="Cathay Pacific">Cathay Pacific</a> </li>
        <li> <a href="/flight-booking/thai-airways-airlines.html" title="Thai Airways">Thai Airways</a> </li>
        <li> <a href="/flight-booking/etihad-airways-airlines.html" title="Ethihad Airways">Ethihad Airways</a> </li>
        <li> <a href="/flight-booking/malaysia-airlines.html" title="Malaysia Airlines">Malaysia Airlines</a> </li>
        <li> <a href="/flight-booking/delta-airlines.html" title="DeltaAirlines">DeltaAirlines</a> </li>
        <li> <a href="/flight-booking/saudi-arabian-air-airlines.html" title="Saudi Airlines">Saudi Airlines</a> </li>
        <li> <a href="/flight-booking/air-france-airlines.html" title="Air France">Air France</a> </li>
        <li> <a href="/flight-booking/turkish-airlines.html" title="Turkish Airlines"> Turkish Airlines</a> </li>
        <li> <a href="/flight-booking/american-airlines.html" title="American Airlines"> American Airlines</a> </li>
        <li> <a href="/flight-booking/united-airlines.html" title="United Airlines"> United Airlines</a> </li>
        <li> <a href="/flight-booking/gulf-air-airlines.html" title="Gulf Air">Gulf Air</a> </li>
        <li> <a href="/flight-booking/kuwait-airways-airlines.html" title="kuwait Airways">kuwait Airways </a> </li>
      </ul>

      <ul class="footerlinkssmall list-unstyled">
        <li>International Flights :</li>
        <li> <a href="/flight-schedule/mumbai-singapore-flights.html" title="Mumbai Singapore Flights">Mumbai Singapore Flights</a> </li>
        <li> <a href="/flight-schedule/mumbai-bangkok-flights.html" title="Mumbai bangkok Flights">Mumbai bangkok Flights</a> </li>
        <li class="first"> <a href="/flight-schedule/new-delhi-london-flights.html" title="Delhi London Flights">Delhi London Flights</a> </li>
        <li> <a href="/flight-schedule/mumbai-london-flights.html" title="Mumbai London Flights">Mumbai London Flights</a> </li>
        <li> <a href="/flight-schedule/mumbai-dubai-flights.html" title="Mumbai Dubai Flights">Mumbai Dubai Flights</a> </li>
        <li> <a href="/flight-schedule/new-delhi-bangkok-flights.html" title="Mumbai bangkok Flights">Mumbai bangkok Flights</a> </li>
      </ul>

      <ul class="footerlinkssmall list-unstyled">
        <li>Other Tools:</li>
        <li><a href="/" title="Cheap Air Tickets">Cheap Air Tickets</a></li>
        <li><a href="/flights" title="Book cheap flights for travel within India and abroad">Domestic Flights</a></li>
        <!-- <li><a href="/international-flights" title="Book cheap flights for travel within India and abroad">International Flights</a></li> -->
        <!-- <li><a href="/status/" title="Flight Status">Flight Status</a></li> -->
        <li><a href="/hotels/india/" title="Hotels">Hotels</a></li>
        <li><a href="/trains" title="IRCTC Railway Reservation">IRCTC Railway Reservation</a></li>
        <li><a href="/trains/pnr" title="Indian Railways PNR Status">Indian Railways PNR Status</a></li>
        <li><a href="/flight-tickets/cheap-flight-air-tickets-domestic.html" title="Domestic Air Tickets">Domestic Air Tickets</a></li>
        <li><a href="/flight-schedule/flight-schedules-domestic.html" title="Domestic Flight Schedule">Domestic Flight Schedule</a></li>
        <li><a href="/flight-booking/domestic-airlines.html" title="Domestic Airlines">Domestic Airlines</a></li>
        <li><a href="/tourism/airports/" title="Domestic Airports">Domestic Airports</a></li>
        <li><a href="/flight-tickets/cheap-flight-air-tickets-international.html" title="International Air Tickets">International Air Tickets</a></li>
        <li><a href="/flight-schedule/flight-schedules-international.html" title="International Flight Schedule">International Flight Schedule</a></li>
        <li><a href="/flight-booking/international-airlines.html" title="International Airlines">International Airlines</a></li>
        <li><a href="/tourism/airports/international-airports.html" title="International Airports">International Airports</a></li>
        <li><a title="Holiday Packages" href="/tourism/packages/">Holiday Packages</a></li>
        <li><a href="/tourism/packages/international-packages.html" title="International Packages">International Packages</a></li>
        <!-- <li><a title="Bus Booking &amp;amp; Timings" href="/tourism/bus/">Bus Bookings</a></li> -->
        <li><a title="Train Bookings" href="/tourism/train/">Train Bookings</a></li>
        <li><a title="Train Routes" href="/tourism/train/routes/">Train Routes</a></li>
        <li><a href="/tourism/routes/" title="Travel Routes">Travel Routes</a></li>
        <li><a href="https://www.cleartrip.com/india/">Travel Guides</a></li>

      </ul>
      <div class="clear"></div><ul class="footerlinkssmall list-unstyled" style="width:100%;"> <li style="width:80%">&copy;2006-2017 Cleartrip Pvt. Ltd.</li><li> <a href="/privacy-policy/">Privacy</a> </li><li> <a href="/security">Security</a> </li><li> <a href="/terms/index.shtml">Terms of Use</a> </li></ul>
    </div>
  </div>
</div>
