<div id="footer_container">
	<div id="footer">
		<div style="background-color:#ffffff">
    <div class="container-fluid">
      <div class="sixteen columns alpha">
        <ul class="footerlinkssmall"> <li>الخطوط الجوية الدولية :</li>
          <li class="first"> <a href="/ar/flight-booking/emirates-airlines.html" title="طيران الإمارات الخطوط الجوية">طيران الإمارات الخطوط الجوية</a> </li>
          <li> <a href="/ar/flight-booking/air-asia-airlines.html" title="طيران آسيا">طيران آسيا</a> </li>
          <li> <a href="/ar/flight-booking/virgin-atlantic-airlines.html" title="فيرجن أتلانتيك">فيرجن أتلانتيك</a> </li>
          <li> <a href="/ar/flight-booking/qatar-airways-airlines.html" title="الخطوط الجوية القطرية">الخطوط الجوية القطرية</a> </li>
          <li> <a href="/ar/flight-booking/singapore-air-airlines.html" title="الخطوط الجوية السنغافورية">الخطوط الجوية السنغافورية</a> </li>
          <li> <a href="/ar/flight-booking/philippine-airlines.html" title="الخطوط الجوية الفلبينية">الخطوط الجوية الفلبينية</a> </li>
          <li> <a href="/ar/flight-booking/air-arabia-airlines.html" title="العربية للطيران">العربية للطيران</a> </li>
          <li> <a href="/ar/flight-booking/british-airways-airlines.html" title="الخطوط الجوية البريطانية">الخطوط الجوية البريطانية</a> </li>
          <li> <a href="/ar/flight-booking/lufthansa-airlines.html" title="لوفتهانزا">لوفتهانزا</a> </li>
          <li> <a href="/ar/flight-booking/tiger-airways-airlines.html" title="خطوط تايغر الجوية">خطوط تايغر الجوية</a> </li>
          <li> <a href="/ar/flight-booking/srilankan-airlines.html" title="الخطوط الجوية السريلانكية">الخطوط الجوية السريلانكية</a> </li>
          <li> <a href="/ar/flight-booking/cathay-pacific-airlines.html" title="كاثي باسيفيك">كاثي باسيفيك</a> </li>
          <li> <a href="/ar/flight-booking/thai-airways-airlines.html" title="الخطوط الجوية الدولية التايلاندية">الخطوط الجوية الدولية التايلاندية</a> </li>
          <li> <a href="/ar/flight-booking/etihad-airways-airlines.html" title="الاتحاد للطيران">الاتحاد للطيران</a> </li>
          <li> <a href="/ar/flight-booking/malaysia-airlines.html" title="الخطوط الجوية الماليزية">الخطوط الجوية الماليزية</a> </li>
          <li> <a href="/ar/flight-booking/delta-airlines.html" title="دلتاالخطوط الجوية">دلتاالخطوط الجوية</a> </li>
          <li> <a href="/ar/flight-booking/saudi-arabian-air-airlines.html" title="Saudi Airlines">سعودي الخطوط الجوية</a> </li>
          <li> <a href="/ar/flight-booking/air-france-airlines.html" title="الخطوط الجوية الفرنسية">الخطوط الجوية الفرنسية</a> </li>
          <li> <a href="/ar/flight-booking/turkish-airlines.html" title="الخطوط الجوية التركية"> الخطوط الجوية التركية</a> </li>
          <li> <a href="/ar/flight-booking/american-airlines.html" title="الخطوط الجوية الأمريكية"> الخطوط الجوية الأمريكية</a> </li>
          <li> <a href="/ar/flight-booking/united-airlines.html" title="الخطوط الجوية المتحدة"> الخطوط الجوية المتحدة</a> </li>
          <li> <a href="/ar/flight-booking/kuwait-airways-airlines.html" title="الخطوط الجوية الكويتية">الخطوط الجوية الكويتية </a> </li>
          <li> <a href="/ar/flight-booking/jet-airways.html" title=" خطوط جيت الجوية"> خطوط جيت الجوية</a> </li>
          <li> <a href="/ar/flight-booking/air-india-express-airlines.html" title="طيران الهند إكسبرس">طيران الهند إكسبرس</a> </li>
          <li> <a href="/ar/flight-booking/air-india.html" title="طيران الهند">طيران الهند</a> </li>
        </ul>

        <ul class="footerlinkssmall">
        <li>
           رحلات طيران دولية :</li>
        <li class="first"> <a href="/ar/flight-schedule/jeddah-dubai-flights.html" title="جدةدبيالطيران">جدةدبيالطيران</a> </li>
        <li> <a href="/ar/flight-schedule/jeddah-abu-dhabi-flights.html" title="جدةأبو ظبيالطيران">جدةأبو ظبيالطيران</a> </li>
        <li> <a href="/ar/flight-schedule/riyadh-abu-dhabi-flights.html" title="الرياضأبو ظبيالطيران">الرياضأبو ظبيالطيران</a> </li>
        <li> <a href="/ar/flight-schedule/dammam-abu-dhabi-flights.html" title="الدمامأبو ظبيالطيران">الدمامأبو ظبيالطيران</a> </li>
        <li> <a href="/ar/flight-schedule/riyadh-dubai-flights.html" title="الرياضدبيالطيران">الرياضدبيالطيران</a> </li>
        <li> <a href="/ar/flight-schedule/jeddah-cairo-flights.html" title="جدةالقاهرةالطيران">جدةالقاهرةالطيران</a> </li>
        <li> <a href="/ar/flight-schedule/dammam-dubai-flights.html" title="الدمامدبيالطيران">الدمامدبيالطيران</a> </li>
        <li> <a href="/ar/flight-schedule/riyadh-bahrain-flights.html" title="الرياضالبحرينالطيران">الرياضالبحرينالطيران</a> </li>
        <li> <a href="/ar/flight-schedule/jeddah-addis-ababa-flights.html" title="جدةأديس أباباالطيران">جدةأديس أباباالطيران</a> </li>
        <li> <a href="/ar/flight-schedule/jeddah-frankfurt-flights.html" title="جدةفرانكفورتالطيران">جدةفرانكفورتالطيران</a> </li>
        </ul>

        <ul class="footerlinkssmall">
          <li>أدوات أخرى:</li>
          <li> <a href="/" title="تذاكر طيران رخيصة">تذاكر طيران رخيصة</a> </li>
          <li> <a href="/ar/flights" title="كتاب رحلات رخيصة للسفر داخل وخارجها">الرحلات الداخلية</a> </li>
          <li> <a href="/ar/international-flights" title="كتاب رحلات رخيصة للسفر داخل وخارجها"> رحلات طيران دولية</a> </li>
          <li> <a href="/status/" title="حالة الرحلة">حالة الرحلة</a> </li>
          <li> <a href="/hotels/saudi-arabia/" title="الفنادق">الفنادق</a> </li>
          <li> <a href="//ar/flight-tickets/cheap-flight-air-tickets-domestic.html" title="تذاكر طيران محلية">تذاكر طيران محلية</a> </li>
          <li> <a href="/ar/flight-schedule/flight-schedules-domestic.html" title="جدول الرحلات المحلية">جدول الرحلات المحلية</a> </li>
          <li> <a href="/ar/flight-booking/domestic-airlines.html" title="الخطوط الجوية المحلية">الخطوط الجوية المحلية</a> </li>
          <li> <a href="/tourism/airports/ar/domestic-airports.html" title="المطارات المحلية">المطارات المحلية</a> </li>
          <li> <a href="//ar/flight-tickets/cheap-flight-air-tickets-international.html" title="تذاكر طيران دولية">تذاكر طيران دولية</a> </li>
          <li> <a href="/ar/flight-schedule/flight-schedules-international.html" title="جدول الرحلات الدولية">جدول الرحلات الدولية</a> </li>
          <li> <a href="/ar/flight-booking/international-airlines.html" title="الخطوط الجوية الدولية">الخطوط الجوية الدولية</a> </li>
          <li> <a href="/tourism/airports/ar/international-airports.html" title="المطارات الدولية">المطارات الدولية</a> </li>
          <li> <a href="/tourism/routes/ar/" title="وجهات السفر">وجهات السفر</a> </li>
        </ul>

        <div class="clear"></div>
       <ul class="footerlinkssmall">
       <li>بلدان:</li>
        <li> <a href="https://www.cleartrip.com" title="الهند">الهند</a> </li>
        <li> <a href="https://www.cleartrip.ae" title="الهند">الإمارات العربية المتحدة</a> </li>
        <li> <a href="https://www.cleartrip.sa" title="المملكة العربية السعودية">المملكة العربية السعودية</a> </li>
        <li> <a href="https://bh.cleartrip.com" title="البحرين">البحرين</a> </li>
        <li> <a href="https://kw.cleartrip.com" title="الكويت">الكويت</a> </li>
        <li> <a href="https://qa.cleartrip.com" title="دولة قطر">دولة قطر</a> </li>
        <li> <a href="https://om.cleartrip.com" title="سلطنة عمان">سلطنة عمان</a> </li>
       </ul>
        <div class="clear"></div><ul class="footerlinkssmall" style="width:100%;"> <li style="width:80%">&copy;2006 - 2018 كليرتريب الخاصة.المحدودة</li><li> <a rel="nofollow" href="/privacy-policy/">الخصوصية</a> </li><li> <a rel="nofollow" href="/security/">الحماية</a> </li><li> <a rel="nofollow" href="/terms/index.shtml">شروط الاستخدام</a> </li></ul>

      </div>
    </div>
  </div>


	</div>
</div>
