<div style="background-color:#ffffff">
  <div class="container-fluid">
    <div class="sixteen columns alpha">
      <ul class="footerlinkssmall">
          <li>Domestic Airlines :</li>
          <li> <a href="/flight-booking/saudi-arabian-air-airlines.html" title=" ">Saudi Airlines</a> </li>
          <li> <a href="/flight-booking/flynas-airlines.html" title=" ">Flynas Airlines</a> </li>
      </ul>
      <ul class="footerlinkssmall">
          <li>Domestic Airlines:</li>
          <li class="first"> <a href="/flight-schedule/riyadh-jeddah-flights.html" title="RiyadhJeddahFlights">RiyadhJeddahFlights</a> </li>
          <li> <a href="/flight-schedule/dammam-riyadh-flights.html" title="DammamRiyadhFlights">DammamRiyadhFlights</a> </li>
          <li> <a href="/flight-schedule/ammam-jeddah-flights.html" title="DammamJeddahFlights">DammamJeddahFlights</a> </li>
          <li> <a href="/flight-schedule/riyadh-abha-flights.html" title="RiyadhAbhaFlights">RiyadhAbhaFlights</a> </li>
          <li><a href="/flight-schedule/madinah-riyadh-flights.html" title="MadinahRiyadhFlights">MadinahRiyadhFlights</a></li>
          <li><a href="/flight-schedule/madinah-jeddah-flights.html" title="MadinahJeddahFlights">MadinahJeddahFlights</a></li>
          <li><a href="/flight-schedule/jeddah-abha-flights.html" title="JeddahAbhaFlights">JeddahAbhaFlights</a></li>
          <li><a href="/flight-schedule/riyadh-gizan-flights.html" title="RiyadhGizanFlights">RiyadhGizanFlights</a></li>
          <li><a href="/flight-schedule/gizan-jeddah-flights.html" title="GizanJeddahFlights">GizanJeddahFlights</a></li>
          <li><a href="/flight-schedule/hail-riyadh-flights.html" title="HailRiyadhFlights">HailRiyadhFlights</a></li>

      </ul>
      <ul class="footerlinkssmall">
          <li>Other Tools:</li>
          <li> <a href="/" title="Cheap Air Tickets">Cheap Air Tickets</a> </li>
          <li> <a href="/ar/flights" title="Domestic Flights">Domestic Flights</a> </li>
          <li> <a href="/ar/international-flights" title="International Flights">International Flights</a> </li>
          <li> <a href="/status/" title="Flight Status">Flight Status</a> </li>
          <li> <a href="/hotels/saudi-arabia/" title="Hotels">Hotels</a> </li>

          <li> <a href="/flight-tickets/cheap-flight-air-tickets-domestic.html" title="Domestic Air Tickets">Domestic Air Tickets</a> </li>
          <li> <a href="/flight-schedule/flight-schedules-domestic.html" title="Domestic Flight Schedule">Domestic Flight Schedule</a> </li>
          <li> <a href="/flight-booking/domestic-airlines.html" title="Domestic Airlines">Domestic Airlines</a> </li>
          <li> <a href="/tourism/airports/domestic-airports.html" title="Domestic Airports">Domestic Airports</a> </li>
          <li> <a href="/flight-tickets/cheap-flight-air-tickets-international.html" title="International Air Tickets">International Air Tickets</a> </li>
          <li> <a href="/flight-schedule/flight-schedules-international.html" title="International Flight Schedule">International Flight Schedule</a> </li>
          <li> <a href="/flight-booking/international-airlines.html" title="International Airlines">International Airlines</a> </li>
          <li> <a href="/tourism/airports/international-airports.html" title="International Airports">International Airports</a> </li>
          <li> <a href="/tourism/routes/" title="Travel Routes">Travel Routes</a> </li>

      </ul>
      <div class="clear"></div>
       <ul class="footerlinkssmall">
       <li>Countries:</li>
        <li> <a href="https://www.cleartrip.com" title="India">India</a> </li>
        <li> <a href="https://www.cleartrip.ae/ar/" title="The United Arab Emirates">The United Arab Emirates</a> </li>
        <li> <a href="https://www.cleartrip.sa/ar/" title="Kingdom of Saudi Arabia">Kingdom of Saudi Arabia</a> </li>
        <li> <a href="https://bh.cleartrip.com" title="Bahrain">Bahrain</a> </li>
        <li> <a href="https://kw.cleartrip.com" title="Kuwait">Kuwait</a> </li>
        <li> <a href="https://qa.cleartrip.com" title="Qatar">Qatar</a> </li>
        <li> <a href="https://om.cleartrip.com" title="Sultanate of Oman">Sultanate of Oman</a> </li>
       </ul>
      <div class="clear"></div>
      <ul class="footerlinkssmall" style="width:100%;">
          <li style="width:80%">&copy; 2006-2017 Cleartrip Pvt. Ltd.</li>
          <li> <a rel="nofollow" href="/privacy-policy/">Privacy</a> </li>
          <li> <a rel="nofollow" href="/security/">Security</a> </li>
          <li> <a rel="nofollow" href="/terms/">Terms of Use</a> </li>

      </ul>
    </div>
  </div>
</div>