<div id="footer_container">
	<div id="footer">
	<div style="background-color:#ffffff">
  <div class="container-fluid">
    <div class="sixteen columns alpha">
      <ul class="footerlinkssmall">
          <li>الخطوط الجوية المحلية :</li>
          <li> <a href="/ar/flight-booking/saudi-arabian-air-airlines.html" title=" "> </a> </li>
          <li> <a href="/ar/flight-booking/flynas-airlines.html" title=" "> </a> </li>
      </ul>
      <ul class="footerlinkssmall">
          <li>الخطوط الجوية المحلية:</li>
          <li class="first"> <a href="/ar/flight-schedule/riyadh-jeddah-flights.html" title="الرياضجدةالطيران">الرياضجدةالطيران</a> </li>
          <li> <a href="/ar/flight-schedule/dammam-riyadh-flights.html" title="الدمامالرياضالطيران">الدمامالرياضالطيران</a> </li>
          <li> <a href="/ar/flight-schedule/ammam-jeddah-flights.html" title="الدمامجدةالطيران">الدمامجدةالطيران</a> </li>
          <li> <a href="/ar/flight-schedule/riyadh-abha-flights.html" title="الرياضأبهاالطيران">الرياضأبهاالطيران</a> </li>
          <li><a href="/ar/flight-schedule/madinah-riyadh-flights.html" title="المدينة المنورةالرياضالطيران">المدينة المنورةالرياضالطيران</a></li>
          <li><a href="/ar/flight-schedule/madinah-jeddah-flights.html" title="المدينة المنورةجدةالطيران">المدينة المنورةجدةالطيران</a></li>
          <li><a href="/ar/flight-schedule/jeddah-abha-flights.html" title="جدةأبهاالطيران">جدةأبهاالطيران</a></li>
          <li><a href="/ar/flight-schedule/riyadh-gizan-flights.html" title="الرياضجيزانالطيران">الرياضجيزانالطيران</a></li>
          <li><a href="/ar/flight-schedule/gizan-jeddah-flights.html" title="جيزانجدةالطيران">جيزانجدةالطيران</a></li>
          <li><a href="/ar/flight-schedule/hail-riyadh-flights.html" title="وابلالرياضالطيران">وابلالرياضالطيران</a></li>
      </ul>
      <ul class="footerlinkssmall">
          <li>أدوات أخرى:</li>
          <li> <a href="/" title="تذاكر طيران رخيصة">تذاكر طيران رخيصة</a> </li>
          <li> <a href="/ar/flights" title="الرحلات الداخلية">الرحلات الداخلية</a> </li>
          <li> <a href="/ar/international-flights" title=" رحلات طيران دولية"> رحلات طيران دولية</a> </li>
          <li> <a href="/status/" title="حالة الرحلة">حالة الرحلة</a> </li>
          <li> <a href="/hotels/saudi-arabia/" title="الفنادق">الفنادق</a> </li>
          <li> <a href="/ar/flight-tickets/cheap-flight-air-tickets-domestic.html" title="تذاكر طيران محلية">تذاكر طيران محلية</a> </li>
          <li> <a href="/ar/flight-schedule/flight-schedules-domestic.html" title="جدول الرحلات المحلية">جدول الرحلات المحلية</a> </li>
          <li> <a href="/ar/flight-booking/domestic-airlines.html" title="الخطوط الجوية المحلية">الخطوط الجوية المحلية</a> </li>
          <li> <a href="/tourism/airports/ar/domestic-airports.html" title="المطارات المحلية">المطارات المحلية</a> </li>
          <li> <a href="/ar/flight-tickets/cheap-flight-air-tickets-international.html" title="تذاكر طيران دولية">تذاكر طيران دولية</a> </li>
          <li> <a href="/ar/flight-schedule/flight-schedules-international.html" title="جدول الرحلات الدولية">جدول الرحلات الدولية</a> </li>
          <li> <a href="/ar/flight-booking/international-airlines.html" title="الخطوط الجوية الدولية">الخطوط الجوية الدولية</a> </li>
          <li> <a href="/tourism/airports/ar/international-airports.html" title="المطارات الدولية">المطارات الدولية</a> </li>
          <li> <a href="/tourism/routes/ar/" title="وجهات السفر">وجهات السفر</a> </li>
      </ul>
       <ul class="footerlinkssmall">
       <li>بلدان:</li>
        <li> <a href="https://www.cleartrip.com" title="الهند">الهند</a> </li>
        <li> <a href="https://www.cleartrip.ae/ar/" title="الهند">الإمارات العربية المتحدة</a> </li>
        <li> <a href="https://www.cleartrip.sa/ar/" title="المملكة العربية السعودية">المملكة العربية السعودية</a> </li>
        <li> <a href="https://bh.cleartrip.com" title="البحرين">البحرين</a> </li>
        <li> <a href="https://kw.cleartrip.com" title="الكويت">الكويت</a> </li>
        <li> <a href="https://qa.cleartrip.com" title="دولة قطر">دولة قطر</a> </li>
        <li> <a href="https://om.cleartrip.com" title="سلطنة عمان">سلطنة عمان</a> </li>
       </ul>

      <div class="clear"></div>
      <ul class="footerlinkssmall" style="width:100%;">
          <li style="width:80%">&copy; 2006 - 2018 كليرتريب الخاصة.المحدودة</li>
          <li> <a rel="nofollow" href="/privacy-policy/">الخصوصية</a> </li>
          <li> <a rel="nofollow" href="/security/">الحماية</a> </li>
          <li> <a rel="nofollow" href="/terms/">شروط الاستخدام</a> </li>
      </ul>
    </div>
  </div>
</div>

	</div>
</div>
