  <section id="flights-nav">
    <div class="container-fluid">
      <div class="ctCol ctProducts mview-header">
        <a class="ctBrand" href="/ar/flights">
          <span class="cleartripLogo" title="Homepage">Home</span>
        </a>
        <ul class="productLinks hasProductIcons">
          <li class="flightApp">
            <a rel="bToolTip" Flights href="/ar/flights">
              <span class="productIcon flights">Flights</span>
            </a>
          </li>
          <li class="hotelApp">
            <a rel="bToolTip" Hotels href="/hotels">
              <span class="productIcon hotels">Hotels</span>
            </a>
          </li>
        </ul>
        <div class="Menuicon visible-xs pull-right"> <span></span> <span></span> <span></span></div>
      </div>
      <div class="ctCol">
        <ul class="list-inline language">
          <li class="en first active">
            <a href="/ar/flight-booking/<%= flight_file_name %>" lang="ar">عربى</a>
          </li>
          <li>|</li>
          <li>
            <a href="/flight-booking/<%= flight_file_name %>" lang="en">English</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </section>